/*BASE.html*/

body {
  background-color: azure;
}

.footer-container {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

.site-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  text-decoration: none;
}

/*HOMEPAGE.html*/

.content-wrap {
  padding-bottom: 2.5 rem;
}

/*SEARCH-RESULTS.html*/

#results-header {
  display: flex;
  justify-content: center;
}

#search-results {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

div.parks-container {
  display: flex;
  justify-content: center;
  background-color: rgba(198, 249, 248, 0.94);
  border: 5px solid white;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  width: 275px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.parks-content {
  margin: 10px;
}

.park-name {
  margin: 0;
  text-align: center;
}

.directions-header {
  text-align: center;
}

.state-header {
  margin: 0;
}

.state-code {
  margin: 0;
}

.favorite-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 3em;
  border-radius: 5px;
}

.fa-heart {
  font-size: x-small;
  color: blueviolet;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.go-to-favorites,
.back-to-search,
.homepage-button {
  justify-content: center;
}

/*FAVORITES-RESULTS.html*/

.favorite-state-header {
  margin: 0;
}

.been-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 3em;
  border-radius: 5px;
}

.fa-check {
  font-size: x-small;
  color: blueviolet;
}
