/*BASE.html*/

html {
  background-image: url("https://images.unsplash.com/photo-1527549993586-dff825b37782?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  /* background-color: azure; */
  background-image: url("https://images.unsplash.com/photo-1527549993586-dff825b37782?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.flash-msg {
  background-color: white;
  color: #eda26a;
  opacity: 0.8;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 25%;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #eda26a;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.a-nav {
  text-decoration: none;
  padding: 5px;
}

.a-nav:hover {
  color: white;
}

ul {
  display: flex;
  margin: 5px;
  padding: 10px 0px;
}

/* h1,
h2 {
  color: #eda26a;
} */

button {
  font-family: "Open Sans", sans-serif;
  border-radius: 20px;
  border: solid #eda26a;
}

.footer-container {
  flex: 1 0 auto;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
}

.site-footer {
  margin: 10px;
  padding-left: 20px;
  color: white;
  margin-top: 25vh;
  /* position: absolute; */
}

/*HOMEPAGE.html*/

.welcome-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  opacity: 0.8;
  width: 75vw;
  border-radius: 20px;
}

.homepage-text {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
}

#show-form-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  background-color: white;
  color: #eda26a;
  border: solid #eda26a;
}

.hp-image {
  border-radius: 20px;
  height: 75%;
}

.form-signup {
  display: none;
}

/*LOGIN.HTML*/

.form-containter {
  display: flex;
  justify-content: center;
}

.form-wrap {
  display: flex;
  justify-content: center;
  width: 75vw;
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
  padding-bottom: 2em;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.labels {
  padding-top: 5px;
  padding-bottom: 5px;
}

.input {
  padding: 5px;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #eda26a;
  font-weight: bold;
  border: solid #eda26a;
}

/*SEARCH-FORM.HTML*/

.form-container {
  display: flex;
  justify-content: center;
  height: 19em;
}

.content-wrap-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  opacity: 0.8;
  width: 75vw;
  border-radius: 20px;
}

.header {
  text-align: center;
}

.search-state-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.search-heading {
  margin-bottom: 5px;
}

.submit-btn {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  background-color: white;
  color: #eda26a;
  border: solid #eda26a;
}

/*SEARCH-RESULTS.html*/

#results-header {
  display: flex;
  justify-content: center;
}

#search-results {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

div.parks-container {
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 0.8;
  border: 5px solid white;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  width: 275px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* div.parks-container:hover {
  background-color: #ffbb7a;
} */

.parks-content {
  margin: 10px;
}

.park-name {
  margin: 0;
  text-align: center;
}

.directions-header {
  text-align: center;
}

.state-header {
  margin: 0;
}

.state-code {
  margin: 0;
}

.favorite-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 3em;
  border-radius: 5px;
  background-color: white;
}

.fa-heart {
  color: #eda26a;
  font-size: x-small;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.go-to-favorites,
.back-to-search,
.homepage-button,
.logout-button {
  justify-content: center;
  margin: 10px;
  border-radius: 20px;
  padding: 5px;
  background-color: white;
  color: #eda26a;
}

.fav-links {
  color: #eda26a;
}

/*FAVORITES-RESULTS.html*/

.favorite-state-header {
  margin: 0;
}

.been-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 3em;
  border-radius: 5px;
  background-color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.fa-check {
  color: #eda26a;
  font-size: x-small;
}
