{% extends 'base.html' %} {% block title %}Favorite Parks{% endblock %}{% block
body %}

<h2 id="results-header">Your Favorite National Parks</h2>
<div id="search-results">
  {% for favorite in user_faves %}
  <div class="parks-container">
    <div class="parks-content">
      <h3 class="park-name">{{favorite.park.name}}</h3>
      <p class="park-description">{{favorite.park.description}}</p>
      <h4 class="has-been-header">Have you Visited?</h4>
      <p class="has-been" id="has_been_{{favorite.park.park_id}}">
        {{favorite.has_been}}
      </p>
      <h4 class="favorite-state-header">State</h4>
      <p class="favorite-state">{{favorite.park.state}}</p>
      <div class="button-container">
        <button
          type="submit"
          class="been-button"
          name="parkCode"
          data-park-id="{{favorite.park.park_id}}"
          value="{{favorite.park.park_id}}"
        >
          <input
            type="hidden"
            name="parkCode"
            value="{{ favorite.park.park_id }}"
          />
          <i class="fas fa-check"></i>
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="buttons-container">
  <button class="back-to-search">
    <a href="/findparks">Search more parks</a>
  </button>
  <button class="homepage-button">
    <a href="/">Go to Homepage</a>
  </button>
  <button class="logout-button">
    <a href="/logout">Logout</a>
  </button>
</div>
{% endblock %}
