{% extends 'base.html' %} {% block title %}WanderList Home{% endblock %} {%
block body %}
<main class="welcome-container">
  <div class="content-wrap">
    <h1>Welcome to WanderList!</h1>
    <p class="homepage-text">
      WanderList was created for people from all walks of life who would love to see the beauty
      within the United States. Whether you are a seasoned world traveler or just now finding your
      urge to wander, this app is for you! Just pick a state and see all of the National Parks that are just
      waiting for you to explore. 
      <p>“We travel not to escape life, but for life not to escape us.” – Anonymous</p>
      
    </p>
    <p class="toggle-form">
      <button id="show-form-button">Create an Account</button>
    </p>
    <p class="create-account">
    <div class="form-containter">
      <form class="form-signup" action="/" method="POST">
      <h2 class="form-heading">Create your Account</h2>

    <div class="form-group">
      <label for="fname-field">First Name</label>
      <input
        type="text"
        name="fname"
        placeholder="First Name"
        required
        autofocus
      />
    </div>

    <div class="form-group">
      <label for="lname-field">Last Name</label>
      <input
        type="text"
        name="lname"
        placeholder="Last Name"
        required
        autofocus
      />
    </div>

    <div class="form-group">
      <label for="email-field">Email Address</label>
      <input
        type="email"
        name="email"
        placeholder="Email Address"
        required
        autofocus
      />
    </div>

    <div class="form-group">
      <label for="password-field">Password</label>
      <input type="password" name="password" placeholder="Password" required />
    </div>

    <button class="submit-button" type="submit">Submit</button>
  </form>
</div>
    </p>
      <!-- <p class="image-container">
      <img class="hp-image" src="static/images/mel-co.jpg">
    </p> -->
  </div>
</main>
{% endblock %}
