{% extends 'base.html' %} {% block title %}WanderList Home{% endblock %} {%
block body %}
<main class="welcome-container">
  <div class="content-wrap">
    <h1>Welcome to WanderList!</h1>
    <p>
      For those who have seen the Earth from space, and for the hundreds and
      perhaps thousands more who will, the experience most certainly changes
      your perspective. The things that we share in our world are far more
      valuable than those which divide us.
    </p>
    <a href="/findparks">Find a Park</a>
  </div>
</main>
{% endblock %}
