{% extends 'base.html' %} {% block title %}Find National Parks{% endblock %}
{%block body %}
<main class="form-container">
  <div class="content-wrap">
    <h2 class="header">
      Welcome back {{ user.fname }}! Pick a state and let's see what they have
      to offer!
    </h2>
    <form class="search-state-form" method="GET" action="/parks/search">
      <label class="search-heading" for="states"
        >Search by two letter State Code:
      </label>
      <input
        class="state-code"
        type="text"
        name="state"
        maxlength="2"
        required
      />
      <input class="submit-btn" type="submit" />
    </form>
  </div>
</main>

{% endblock %}
